.div-login{
    border: 1px solid azure;
    height: 90vh;
    width: 40vw;
    background-color: aliceblue;
    border-radius: 2rem;
}
.div{
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-heading{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
